# If you upgrade this, make sure zcta-to-geography.py can still download
certifi==2025.1.31
charset-normalizer==3.4.2
geopandas==1.0.1
idna==3.10
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
shapely==2.1.0
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
