.DS_Store
__MACOSX
node_modules
.nyc_output
*.db
.env
yarn-error.log
scripts/geodata
build
.tap
.tool-versions
scripts/income_limits/data/raw/
scripts/income_limits/config.json
secrets/
venv/
__pycache__/