{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-multiline-arrays"
  ],
  "overrides": [
    {
      "files": ["data/*.json", "schemas/**/*.json", "test/fixtures/*.json"],
      "options": {
        "multilineArraysWrapThreshold": 0
      }
    }
  ]
}
