name: Incentives Freshness Check
on:
  push
permissions:
  contents: read
jobs:
  verify-incentives-freshness:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
          node-version: 18.x
          cache: 'yarn'
      - run: yarn --frozen-lockfile
      - run: yarn build
      - name: URL checker
        run: yarn check-data-freshness
